// 字体大小
$font-size-Small = 12px
$font-size-Base = 14px
$font-size-Medium = 16px
$font-size-large = 18px
$font-size-ExtraLarge = 20px
$font-size-Title = 30px
$font-size-superLarge = 40px

// 字体颜色
$font-color-main = #333
$font-color-routine = #606266
$font-color-secondary = #909399
$font-color-white = #fff
$font-color-Brand = #0068b8
$font-color-Success = #008b1f
$font-color-Warning = #E6A23C
$font-color-Danger = #F56C6C
$font-color-Info = #909399

//  边框
$border-color-one = #c6c6c6
$border-color-two = #E4E7ED
$border-color-three = #EBEEF5
$border-color-four = #F2F6FC

//  背景
$background-color-Brand = #0068b8
$background-color-Success = #67C23A
$background-color-Warning = #E6A23C
$background-color-Danger = #F56C6C
$background-color-Info = #909399
$background-color-White = #fff
// 
//  层级
$z-index-Small = 1
$z-index-Base = 10
$z-index-Medium = 100
$z-index-large = 10000
$z-index-superLarge = 100000

//  遮盖层
coverLayer()
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background: rgba(000, 000, 000, .2)
  overflow hidden
  z-index $z-index-large
paneltoolClose()
  display inline-block
  cursor pointer
  width 16px
  height 16px
  opacity 0.6
  vertical-align top
  transition .2s
  background url('../../assets/img/panel_tools.png') no-repeat -16px 0px
tableSpan()
  transition 0.4s
  cursor pointer
PackageBox()
  box-sizing border-box
  padding 6px
  border 1px solid $border-color-one
  border-radius 6px
  height 100%
  background $background-color-White
Allborder()
  border 1px solid $border-color-one
  border-radius 6px