@import './base.styl'
// .el-tabs__content
//   display none
.el-picker-panel
  position absolute
.el-main
  padding-top 0!important
.el-tabs__item
  height 30px
  box-sizing border-box
  font-size 14px
  line-height 30px
.el-breadcrumb
  font-size 14px
.el-table .warning-row
  background #f7fbff
.el-table .success-row
  background #f5f5f5
.el-table .third-row
  background #e8fbff
.el-timeline-item__wrapper 
  position relative
  padding-left 20px
  top -2px
body .el-table th.gutter
  display: table-cell!important
.vdr.active:before
  outline none